<template>
    <div>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Post List</h3>
                            <div class="card-tools">
                                <router-link to="/add-post">
                                    <button class="btn btn-sm btn-outline-success" >
                                        Add Post
                                    </button>
                                </router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped text-center" >
                                <thead>
                                <tr>
                                    <th >#SL</th>
                                    <th >User</th>
                                    <th >Category</th>
                                    <th >Title</th>
                                    <th >Description</th>
                                    <th >Photo</th>
                                    <th >Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(post,index) in getallPost" :key="post.id">
                                    <td>{{index+1}}</td>
                                    <td v-if="post.user">{{post.user.name}}</td>
                                    <td v-if="post.category">{{post.category.category_name}}</td>
                                    <td>{{post.title | shortlength(20,"--")}}</td>
                                    <td>{{post.description | shortlength(40,".....")}}</td>
                                    <td ><img :src="ourImage(post.photo)" alt="" width="40" height="50"></td>
                                    <td style="width: 15%;">
                                        <router-link :to="`edit-post/${post.id}`">
                                            <button class="btn btn-sm btn-outline-primary" >
                                                Edit
                                            </button>
                                        </router-link>
                                        <a @click.prevent="deletePost(post.id)" class="btn btn-outline-danger btn-sm" href="">Delete</a>
                                    </td>
                                 </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "List",
        mounted(){
            this.$store.dispatch("allPost")
        },
        computed:{
            getallPost(){
                return this.$store.getters.getPost
            }
        },
        methods:{
            ourImage(img){
                return "uploadImage/"+img;
            },
            deletePost(id){
                axios.get('/delete/'+id)
                    .then(()=>{
                        this.$store.dispatch("allPost")
                        Toast.fire({
                            type: 'success',
                            title: 'Post Deleted successfully'
                        })
                    })
                    .catch(()=>{
                    })
            }
        }
    }
</script>

<style scoped>

</style>
