<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-md-10">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add New Post</h3>
                        </div>
                        <form role="form" enctype="multipart/form-data" @submit.prevent="addnewPost()">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="postID">TITLE</label>
                                    <input type="text" class="form-control" id="postID" placeholder="Enter the Title Here" v-model="form.title" name="title" :class="{ 'is-invalid': form.errors.has('title') }">
                                    <has-error :form="form" field="title"></has-error>
                                </div>
                                <div class="form-group">
                                    <label for="postID">Description</label>
<!--                                    <textarea class="form-control" rows="7" id="postID" placeholder="Write the description here..." v-model="form.description" name="description" :class="{ 'is-invalid': form.errors.has('description') }">-->
<!--                                    </textarea>-->
                                    <markdown-editor toolbar="bold italic heading | image link | numlist bullist code quote | preview fullscreen"  v-model="form.description"></markdown-editor>
                                    <has-error :form="form" field="description"></has-error>
                                </div>
                                <div class="form-group">
                                    <label for="postID">Select Category</label>
                                    <select class="form-control"  :class="{ 'is-invalid': form.errors.has('category_id') }" v-model="form.category_id">
                                        <option disabled value="">Select One --</option>
                                        <option :value="category.id" v-for="category in getallCategory">{{category.category_name}}</option>
                                    </select>
                                    <has-error :form="form" field="category_id"></has-error>
                                </div>
                                <div class="form-group">
                                    <label>Image File Input</label>
                                    <input @change="changePhoto($event)" type="file" class="form-control-file" name="photo" :class="{ 'is-invalid': form.errors.has('photo') }">
                                    <img :src="form.photo" alt="" class="w-25 h-25 mt-2">
                                    <has-error :form="form" field="photo"></has-error>
                                </div>
                            </div>
                            <div class="card-footer" @submit.prevent="addnewPost()">
                                <button  type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "New",
        data() {
            return {
                form: new Form({
                    title:'',
                    description:'',
                    category_id:'',
                    photo:'',
                })
            }

        },
        mounted(){
            this.$store.dispatch("allCategory")
        },
        computed:{
            getallCategory(){
                return this.$store.getters.getCategory
            }
        },
        methods:{
            changePhoto(event){
                let file = event.target.files[0];
                if(file.size>1048576){
                    Swal.fire({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Please select picture less than 1 MB!',
                    })
                }else{
                    let reader = new FileReader();
                    reader.onload = event=> {
                        this.form.photo = event.target.result
                    };
                    reader.readAsDataURL(file);
                }
            },
            addnewPost(){
                this.form.post('/savepost')
                    .then(()=>{
                        this.$router.push('/post-list')
                        Toast.fire({
                            type: 'success',
                            title: 'Post Added successfully'
                        })
                    })
                    .catch(()=>{
                    })
            }

        },

    }
</script>

<style scoped>

</style>
