<template>
    <div>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Category List</h3>
                            <div class="card-tools">
                                <router-link to="/add-category">
                                    <button class="btn btn-sm btn-outline-success" >
                                       Add Category
                                    </button>
                                </router-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped text-center" >
                                <thead>
                                <tr>
                                    <th style="width: 10%">#SL</th>
                                    <th style="width: 50%">Category Name</th>
                                    <th style="width: 20%">Created At</th>
                                    <th style="width: 20%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(category,index) in getallCategory" :key="category.id">
                                    <td>{{index+1}}</td>
                                    <td>{{category.category_name}}</td>
                                    <td>{{category.created_at | timeformat}}</td>
                                    <td>
                                        <router-link :to="`/edit-category/${category.id}`">
                                            <button class="btn btn-sm btn-outline-primary" >
                                                Edit
                                            </button>
                                        </router-link>
                                        <a class="btn btn-outline-danger btn-sm" href="" @click.prevent="deleteCategory(category.id)">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "List",
        mounted(){
            this.$store.dispatch("allCategory")             //this function create to the actions
        },
        computed:{
            getallCategory(){
                return this.$store.getters.getCategory
            }
        },
        methods:{
            deleteCategory(id){
                axios.get('/category/'+id)
                    .then(()=>{
                        this.$store.dispatch("allCategory")
                        Toast.fire({
                            type: 'success',
                            title: 'Category Deleted successfully'
                        })

                    })
            }

        }
    }

</script>
