<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add New Category</h3>
                        </div>
                        <form role="form" >
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="categoryId">Add New Category</label>
                                    <input type="text" class="form-control" id="categoryId" placeholder="Add New Category" v-model="form.category_name" name="category_name" :class="{ 'is-invalid': form.errors.has('category_name') }">
                                    <has-error :form="form" field="category_name"></has-error>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button  @click.prevent="addCategory()" type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        name: "New",
        data() {
            return {
                form: new Form({
                    category_name:'',
                })
            }

        },
        methods:{
            addCategory(){
                this.form.post('/add-category')
                    .then(() => {
                       this.$router.push('/category-list')

                        Toast.fire({
                            type: 'success',
                            title: 'Category Added successfully'
                        })
                    })
                    .catch(()=> {

                    })
            }
        },

    }
</script>

<style scoped>

</style>
