<template>
    <span>
        <div class="span4">
            <aside class="right-sidebar">
                <div class="widget">
                    <form class="form-search">
                        <input @keyup="RealSearch" placeholder="Type something" type="text" v-model="keyword" class="input-medium search-query">
                        <button type="submit" @click.prevent="RealSearch" class="btn btn-square btn-theme">Search</button>
                    </form>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Categories</h5>
                    <ul class="cat">
                        <li v-for="category in categoryList"><i class="icon-angle-right"></i><router-link :to="`/categories/${category.id}`">{{category.category_name}}</router-link><span> (20)</span></li>
                    </ul>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Latest posts</h5>
                    <ul class="recent">
                        <li v-for="(post,index) in blog" v-if="index<3">
                            <img :src="`uploadImage/${post.photo}`" class="pull-left" alt="" width="50" height="50" />
                            <h6><router-link :to="`/blog/${post.id}`">{{post.title}}</router-link></h6>
                            <p>
                                {{post.description | shortlength(100,"...")}}
                            </p>
                        </li>
                    </ul>
                </div>
        </aside>
        </div>
    </span>

</template>

<script>
    import _ from 'lodash'
    export default {
        name: "BlogSidebar",
        data(){
            return{
                keyword: ''
            }
        },
        computed:{
            categoryList(){
                return this.$store.getters.listCategory
            },
            blog(){
                return this.$store.getters.postRecent
            }
        },
        mounted(){
            this.$store.dispatch('recentPost');
            this.$store.dispatch('allCategoryList');
        },
        methods:{
            RealSearch: _.debounce(function () {
                this.$store.dispatch('SearchPost', this.keyword);
            }, 500)
        },

    }
</script>

<style scoped>

</style>
