<template>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span8">
            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-image">
                    <div class="post-heading">
                      <h3><a href="#">{{detailsPage.title}} </a>
                      </h3>

                    </div>
                    <img :src="`uploadimage/${detailsPage.photo}`" alt="" />
                  </div>
                  <p>{{detailsPage.description}}</p>
                  <div class="bottom-article">
                    <ul class="meta-post">
                      <li v-if="detailsPage.user"><i class="icon-user"></i><a href="#"> {{detailsPage.user.name}}</a></li>
                      <li v-if="detailsPage.category"><i class="icon-folder-open"></i><a href="#">{{detailsPage.category.category_name}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
              <!-- author info -->
          </div>
            <BlogSidebar/>
        </div>
      </div>
    </section>
</template>

<script>
    import BlogSidebar from "./BlogSidebar.vue"
    export default {
        name: "SinglePost",
        components:{
            BlogSidebar
        },
        computed:{
            detailsPage(){
                return this.$store.getters.singlepost
            }
        },
        mounted(){
            this.singlePost();
        },
        //watch used for repeat the clicking system in sidebar ....
        watch:{
            $route(to,from){
                this.singlePost();
            }
        },
        methods:{
            singlePost(){
                this.$store.dispatch('allsinglePost', this.$route.params.id)
            }

        },

    }
</script>


<style scoped>

</style>
