<template>
    <div id="frontendmain">
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "FrontendMaster"
    }
</script>

<style scoped>

</style>
